@charset "utf-8";
/* CSS Document */

#Banner {
<<<<<<< HEAD
	height: 200px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
=======
	height: 190px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#AbsherCard
{
	background:url(css/images/absher_card.PNG);
	height:542px;
	width:340px;
	
>>>>>>> jo_ver
}